// Background colors light
$primary-bg-light-theme: #fff;

// Background colors dark
$primary-bg-dark-theme: #000;

// Text colors light
$primary-font-light-theme: #000;
$secondary-font-light-theme: #ccc;

// Text colors dark
$primary-font-dark-theme: #fff;
$secondary-font-dark-theme: #333;

// Link colors
$link-font: #0078e8;
$link-font-hover: #f40008;

// Font sizes
$regular-font-size: 16px;
$small-font-size: 12px;
